<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content fullscreen>
  <ion-list lines="full">
     <ion-item>
        <ion-label position="floating">Mac-ID</ion-label><br>
        <ion-input>{{ csvData[i][0] }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Username</ion-label><br>
        <ion-input>{{ csvData[i][1] }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">First name</ion-label><br>
        <ion-input>{{ csvData[i][2] }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last name</ion-label><br>
        <ion-input>{{ csvData[i][3] }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label><br>
        <ion-input>{{ csvData[i][4] }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label><br>
        <ion-input type="text">{{ csvData[i][5] }}</ion-input>
      </ion-item>
      <ion-item id= 'covida'>
        <ion-label position="floating">Covid Status</ion-label><br>
        <ion-input >{{ csvData[i][6] }}</ion-input>
        <div class="item-note" item-end>
          <ion-button type="submit" color="primary" (click) = "changecovidstat()" >Change Status</ion-button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date of detection</ion-label><br>
        <ion-input>{{ csvData[i][7] }}</ion-input>
      </ion-item>
  </ion-list>

  <div>{{ usermac }}</div>

</ion-content>
